:root {
  --primaryColor: #48bf61;
  --secondaryColor: #27a151;
  --tertiaryColor: #f4ffc3;
  --accentColor-SoftPink: #fdb0c0;
  --accentColor-CoralPink: #f88379;
  --accentColor-cream: #fdfbd4;
  --accentColor-lightGray: #d3d3d3;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

.header_area {
  /* left: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0; */
  padding: 0 4%;
  background-color:var(--primaryColor) ;
}

.navbar{
	background-color: var(--primaryColor)!important;
}

.logo{
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.nav-link{
	color: var(--accentColor-lightGray)!important;
}
.nav-link.active{
	color: var(--accentColor-cream)!important;
}

.nav-link:hover{
	color: var(--accentColor-cream)!important;
}

.banner{
	background-color: var(--primaryColor);
	height: 100vh;
}

.welcome-heading h1{
	font-size: 61px;
	font-weight: 700;
	color: var(--text-color);
	margin: 0px;
}

.welcome-heading p{
	color: rgb(2, 71, 2);
	font-weight: 600;
	font-size: 18px;
}

.unlock-tag {
color: var(--text-color);
}

.get-started-link{
	background-color: var(--text-color);
	padding: 4px 16px;
	border-radius: 40px;
}

.get-started-link img{
	width: 28px;
	object-fit: cover;
	margin-right: 8px;
}

.get-started-link span{
	font-size: 10px;
}